<li><a href="<%= smart_grid_what_path %>">What is Smart Grid?</a></li>
<li><a href="<%= smart_grid_existing_path %>">Existing Electrical Infrastructure of Gurgaon</a></li>
<li><a href="<%= smart_grid_need_path %>">Need for establishment of Smart Grid</a></li>
<li><a href="<%= smart_grid_main_features_path %>">Main features of the Smart Grid project</a></li>
<li><a href="<%= smart_grid_phases_path %>">Phases of Smart Grid</a></li>