<!DOCTYPE html>
<html>
<head>
  <title>Smartgrid Gurgaon</title>
  <%= render partial: 'layouts/header/stylesheets' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'layouts/header/header' %>
  <div class="container" id="top">
    <div class="sg-content col-md-12">
      <%= yield %>
    </div>
  </div>
  <%= render partial: 'layouts/footer/footer' %>
</body>
</html>